<!-- https://habr.com/post/242545/ -->
<!-- https://css-tricks.com/using-flexbox/ -->

html {
	min-height: 100%;
	font-family: sans-serif;
	display: -webkit-flex; 
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
	padding: 0 15px;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: auto;
}

.site-header {
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	margin: 0 auto 30px;
	padding: 30px 0 10px;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	box-sizing: border-box;
    background: #ccc;
}

.main {
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	margin: auto;
	flex-grow: 1;
	box-sizing: border-box;
}

.site-footer {
	background: #222;
	width: 100%;
	max-width: 960px;
	min-width: 430px;
	color: #eee;
	margin: auto;
	padding: 15px;
	box-sizing: border-box;
}